<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简介</title>
    <link rel="stylesheet" href="../css/layui.css" media="all">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/fontAwesome.css">
    <link rel="stylesheet" href="../css/light-box.css">
    <link rel="stylesheet" href="../css/templatemo-main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

</head>
<body style="background-image: url('../img/third_bg.jpg')">
<ul class="layui-nav">
    <li class="layui-nav-item"><a href="index.html">首页</a></li>
    <li class="layui-nav-item layui-this">
        <a href="personalProfile.html">个人简介</a>
    </li>
    <li class="layui-nav-item"><a href="photoAlbum.html">相册</a></li>
    <li class="layui-nav-item"><a href="messageBoard.html">留言板</a></li>
    <li class="layui-nav-item">
        <embed src="../media/RISE_登峰造极境.mp3" autostart="true" loop="true" style="height: 0; width: 0;"/>
    </li>
</ul>

<div class="slide" id="2">
    <div class="content second-content">
        <div class="container-fluid">
            <div class="col-md-6">
                <div class="left-content">
                    <h2>关于我的</h2>
                    <p>
                        <b>名字：</b>
                        刘铭晖
                    </p>
                    <p>
                        <b>住址：</b>
                        广东省云浮市
                    </p>
                    <p>
                        <b>联系方式：</b>
                        4342413943
                    </p>

                    <p>
                        <b>专业:</b>
                        计算机网络
                    </p>
                    <p>
                        <b>个人性格、兴趣、爱好：</b>
                        篮球，游戏，性格开朗，易于相处；
                    </p>
                    <p>
                        <b>寄语：</b>
                        不要温柔的走进那个良夜
                    </p>
                    <div class="main-btn"><a href="photoAlbum.html">继续阅读</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="../img/about_image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>